.navbar {
    background-color: black;
}
.jumbotron{
    background: url("../img/burger-chips.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
}

.logoburger{
    width:15%;
}
.animatedlogo{
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        top: 75px;
    }
    to {
        top: 0px;
    }
}

.imageBurger{
    width:100%;
    height: 100%;
}

h1{
    color:white;
}